li.need .edit {
  display:none;
}
li.lists .edit{
  display:none;
}
li.editing {
  background-color: white
} 
li.editing .view{
  display:none;
}
li.editing .edit {
  color:blue;
  display:inline-block;
}
.product {
  padding-right: 12px;
  padding-left: 8px;
  font-size: 16px;
  font-family: "Comic Sans MS", "Trebuchet MS", Helvetica, sans-serif;
}
.amt {
  padding-right: 10px;
  font-family: Papyrus, fantasy;  }
.loc {
  padding-right: 8px;
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 13px;
}
.tags {
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 11px;
}
.delx {
  display:inline-block;
  float: right;
}
